<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sangha Yoga</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="main">
        <div class="reg-wrapper">
        <img class="img-responsive" src="https://preview.ibb.co/kEfgy5/headerimg.png">     <!-- TODO img -->
            <div class="container">
            <div class="reg-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p dir="rtl">היי!<br>
                            מוזמנים/ות להירשם לשיעור יוגה, בחר/י שבוע להרשמה:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="weeks-container">
                                <label>השבוע הנוכחי:</label>
                                <a href="{% url 'app:week' cur_week.url_rpr %}" dir="ltr">{{ cur_week.dates }}</a>
                                <label>השבוע הבא:</label>
                                <a href="{% url 'app:week' next_week.url_rpr %}" dir="ltr">{{ next_week.dates }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <footer>&copy; Site by <a href="mailto:may.yaaron@gmail.com?Subject=Build%20me%20a%20website!" target="_top" data-toggle="tooltip" data-placement="bottom" title="Mail me at may.yaaron@gmail.com">May Yaaron</a></footer>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>
