<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sangha Yoga</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="main">
        <div class="reg-wrapper">
        <img class="img-responsive" src="https://preview.ibb.co/kEfgy5/headerimg.png">
            <div class="container">
            <div class="reg-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p dir="rtl"><b>היוגה של ליה לוקחת הפסקת קיץ</b></p>
                            <p>נחדש פעילות באוקטובר הקרוב.
                                                               מוזמנים ומוזמנות לתרגול אישי עם ליה דרך היוטיוב:
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="videos-links">
                                <a href="https://www.youtube.com/watch?v=eaDNs-oOYZI&feature=youtu.be" dir="ltr" class="btn btn-default" role="button">תרגול ויניאסה באורך שעה</a>
                                <a href="https://www.youtube.com/channel/UCaq2qPEz0vkzHo-vee7JfZQ" dir="ltr" class="btn btn-default" role="button">שלל תרגולים למטרות שונות</a>
                            </div>
                        </div>
                    </div>
                <br>
                    <div class="links row">
                        <div class="col-xs-12">
                                <p>צרו קשר:</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a class ="gmail" href="mailto:lia.amit1@gmail.com"><img src="http://image.flaticon.com/icons/svg/60/60543.svg"></a>
                            <p>lia.amit1@gmail.com</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a class="facebook" href="https://www.facebook.com/groups/919491461457842/"><img src="http://image.flaticon.com/icons/svg/20/20673.svg"></a>
                            <p>לעמוד הפייסבוק</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a class="phone"><img src="https://image.flaticon.com/icons/svg/9/9243.svg"></a>
                            <p>בטלפון 0528027567</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>נתראה בקרוב, קיץ נעים וחמים לכולם</p>
                        </div>
                    </div>
                </div>
            </div>
                <footer>&copy; Site by <a href="mailto:may.yaaron@gmail.com?Subject=Build%20me%20a%20website!" target="_top" data-toggle="tooltip" data-placement="bottom" title="Mail me at may.yaaron@gmail.com">May Yaaron</a></footer>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>
