<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sangha Yoga</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"></head>
<body>
    <div class="main">
        <div class="reg-wrapper">
            <img src="https://preview.ibb.co/kEfgy5/headerimg.png">
            <div class="reg-container">
                <form class="form" action="/register" method="POST">
                    {% csrf_token %}
                <p class="intro">
                    </br>בחרו שיעור, השאירו פרטים מלאים והמערכת תאשר את כניסתכם לשיעור או לרשימת ההמתנה
                    </br>* ביטול הגעתכם עד 12 שעות לפני מועד השיעור לא מחייב בתשלום *
                    </br>* הרשמה להמתנה לשיעור לא מחייבת את הגעתכם, רק אם יתאים לכם *
                </p>
                <br>
                <div class="input-container">
                    <input class="form-input" name="name" type="text" placeholder="שם" required>
                    <input class="form-input" name="email" type="text" placeholder="מייל" required>
                    <input class="form-input" name="phone" type="text" placeholder="טלפון" required>
                </div>
                <div class="days-container">
                <br>
                    <select name="choose-class">
                        <option label="בחר/י שיעור" selected></option>
                        <optgroup label="ראשון">
                                {% for lesson in lessons_sunday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="שני">
                                {% for lesson in lessons_monday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="שלישי">
                                {% for lesson in lessons_tuesday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="רביעי">
                                {% for lesson in lessons_wednesday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="חמישי">
                                {% for lesson in lessons_thursday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="שישי">
                                {% for lesson in lessons_friday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                        <optgroup label="שבת">
                                {% for lesson in lessons_thursday %}
                                    <option value="{{ lesson.pk }}">{{ lesson.time }}</option>
                                {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <button type="submit" class="submit-button">רשמי אותי</button>
            </form>
                </form>
            </div>
        <footer>&copy; Site by <a href="mailto:may.yaaron@gmail.com?Subject=Build%20me%20a%20website!" target="_top">May Yaaron</a></footer>
        </div>
    </div>

</body>
</html>