

@import url('https://fonts.googleapis.com/css?family=Rubik');


body{
    font-weight: 300;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: #F7F5EF no-repeat fixed;
    font-family: Rubik, sans-serif;
    top: 0px;
    margin-top: 0px;
}
.reg-wrapper {
    position: relative;
    margin: auto;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

div.reg-container{
    background-color: white;
    display: block;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    vertical-align: middle;
}

div.reg-container p {
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
}

div.intro {
    vertical-align: middle;
    text-align: center;
}

.form input{
    display: block;
    outline: 0;
    border: 1px solid rgba(197, 205, 200, 0.8);
    background-color: rgba(255,255,255,0.5);
    width: auto;
    max-width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 12px;
    color: #68beb4;
    transition-duration: 0.25s;
    font-family: Rubik, sans-serif ;
}


.weeks-container a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    /*text-decoration: none;*/
    /*color: initial;*/
    /*margin: 10px;*/
    /*width: 150px;*/

    margin:20px;
    width: auto;
    border-radius: 3px;
    padding: 10px 15px;
    background: white;
    text-align: center;
    /*font-size: 12px;*/

    outline: 0;
    border: 1px solid rgba(197, 205, 200, 0.8);
    /*background-color: rgba(255,255,255,0.5);*/

    font-size: 12px;
    font-family: Rubik, sans-serif ;

}

.intro p {
    margin-top: 10px
}

.weeks-container {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

form {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.days-container {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

.main {
    vertical-align: middle;
}

.input-container {
    justify-content: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

div.days-container select {
    /*display: block;*/
    border: 1px solid rgba(197, 205, 200, 0.8);
    /*background-color: rgba(255,255,255,0.5);*/
    width: 100px;
    /*border-radius: 3px;*/
    /*padding: 10px 15px;*/
    text-align-last: center;
    /*font-size: 18px;*/
    /*color: grey;*/
    /*transition-duration: 0.25s;*/
    /*font-weight: 300;*/
    margin: 10px 10px 10px;
}

/*.form input:hover{*/
    /*background-color: rgba(255,255,255, 0.8);*/
    /*color: #68beb4;*/

/*}*/

/*.form input:focus{*/
    /*background-color: white;*/
    /*color: #68beb4;*/

/*}*/

button {
    margin:20px;
    width: auto;
    border-radius: 3px;
    padding: 10px 15px;
    background: white;
    text-align: center;
    /*font-size: 12px;*/

    outline: 0;
    border: 1px solid rgba(197, 205, 200, 0.8);
    /*background-color: rgba(255,255,255,0.5);*/

    font-size: 12px;
    font-family: Rubik, sans-serif ;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    font-family: sans-serif;
}


/*TODO prettify buttons*/

/*html {*/
  /*box-sizing: border-box;*/
/*}*/
/**, *:before, *:after {*/
  /*box-sizing: inherit;*/
/*}*/
  /*@media (min-width: 992px) {*/
    /*border-width: 30px;*/
  /*}*/
/*}*/

/*.my-button {*/
    /*display: flex;*/
    /*overflow: hidden;*/

    /*margin: 10px;*/
    /*padding: 12px 12px;*/

    /*cursor: pointer;*/
    /*user-select: none;*/
    /*transition: all 60ms ease-in-out;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*text-decoration: none !important;*/
    /*text-transform: none;*/
    /*text-transform: capitalize;*/

    /*color: #202129;*/
    /*background-color: #edeeee;*/
    /*border: 0 none;*/
    /*border-radius: 4px;*/

    /*font-size: 14px;*/
    /*font-weight: 500;*/
    /*line-height: 1.3;*/

    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex: 0 0 160px;*/
/*}*/
/*.my-button:hover {*/
/*transition: all 60ms ease;*/

/*opacity: .85;*/
/*}*/

/*.my-button :active {*/
/*transition: all 60ms ease;*/
/*opacity: .75;*/
/*}*/

/*.my-button:focus {*/
/*outline: 1px dotted #959595;*/
/*outline-offset: -4px;*/
/*}*/
 /**/
/*.my-button:hover {*/
    /*color: #202129;*/
    /*background-color: #e1e2e2;*/
    /*opacity: 1;*/
/*}*/

/*.my-button:active {*/
/*background-color: #d5d6d6;*/
/*opacity: 1;*/
/*}*/

