

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);*/
/*@import url(https://fonts.googleapis.com/css?family=Heebo);*/
/*@import url('https://fonts.googleapis.com/css?family=Secular+One');*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/**{*/
/*box-sizing: border-box;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/


/*body {*/
    /*background: white;*/
    /*position:absolute;*/
    /*text-align: center;*/
/*}*/

body{
    font-weight: 300;
    /*background: #50a3a2;*/
    /*background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 2em;*/
    text-align: center;
    vertical-align: middle;
    background: #F7F5EF no-repeat fixed;
    font-family: Rubik, sans-serif;
    top: 0px;
    margin-top: 0px;
}
.reg-wrapper {
    position: relative;
    margin: auto;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

div.reg-container{
    background-color: white;
    display: block;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    vertical-align: middle;
}

div.reg-container p {
    margin-top: 10px;
}

/*.form{*/
    /*padding: 20px 0;*/
    /*position: relative;*/
    /*z-index: 2;*/
/*}*/

.form input{
    display: block;
    outline: 0;
    border: 1px solid rgba(197, 205, 200, 0.8);
    background-color: rgba(255,255,255,0.5);
    width: 150px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 0px auto;
    text-align: center;
    font-size: 12px;
    color: white;
    transition-duration: 0.25s;
    font-family: Rubik, sans-serif ;

}


.weeks-container a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin: 10px;
    width: 150px;
}
.intro p {
    margin-top: 10px
}
    /*-webkit-appearance: button;*/
    /*-moz-appearance: button;*/
    /*appearance: button;*/

    /*text-decoration: none;*/
    /*color: initial;*/
    /*margin:20px;*/
    /*width: 150px;*/
    /*border-radius: 3px;*/
    /*padding: 10px 15px;*/
    /*background: white;*/
    /*text-align: center;*/
    /*!*font-size: 12px;*!*/

    /*outline: 0;*/
    /*border: 1px solid rgba(197, 205, 200, 0.8);*/
    /*background-color: rgba(255,255,255,0.5);*/

    /*font-size: 12px;*/
    /*font-family: Rubik, sans-serif ;*/

.weeks-container {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

form {
    background: white;
}

.days-container {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

.main {
    vertical-align: middle;
}

/* שם טלפון מייל */
.input-container {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

div.days-container select {
    /*display: block;*/
    border: 1px solid rgba(197, 205, 200, 0.8);
    /*background-color: rgba(255,255,255,0.5);*/
    width: 100px;
    /*border-radius: 3px;*/
    /*padding: 10px 15px;*/
    text-align-last: center;
    /*font-size: 18px;*/
    /*color: grey;*/
    /*transition-duration: 0.25s;*/
    /*font-weight: 300;*/
    margin: 10px 10px 10px;
}


.form input:hover{
    background-color: rgba(255,255,255, 0.8);
    color: #68beb4;

}

.form input:focus{
    background-color: white;
    color: #68beb4;

}

button {
    margin:20px;
    width: 150px;
    border-radius: 3px;
    padding: 10px 15px;
    background: white;
    text-align: center;
    /*font-size: 12px;*/

    outline: 0;
    border: 1px solid rgba(197, 205, 200, 0.8);
    background-color: rgba(255,255,255,0.5);

    font-size: 12px;
    font-family: Rubik, sans-serif ;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    font-family: sans-serif;
}



